.header__title-wrapper {
  position: relative;
  padding: 0.6rem 0 0.25rem 3.75rem;
  margin: 0;
  font-weight: 600;
  letter-spacing: 0.08ch;
}

.header__title-icon {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  font-size: 3rem;
}

.header__title {
  display: inline-block;
  min-width: 14ch;
}

.header__status {
  position: absolute;
  top: 1rem;
  right: 0.5rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.header__clock {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  min-width: 7.5rem;
  gap: 0.15rem;
}

.header__clock-time {
  font-size: 2.4rem;
  line-height: 1;
}

.header__clock-date {
  font-size: 1.1rem;
  line-height: 1;
}

.header__status-button {
  margin: 0;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
}

.header__status-button .icon {
  font-size: inherit;
}

.header__navigation {
  display: grid;
  grid-auto-flow: column;
  gap: 0.5rem;
  justify-content: flex-start;
}

.header__navigation button {
  font-size: 1.5rem;
}

.header__navigation .visible-small {
  font-weight: 600;
}
